<footer>
  <div style="max-width: 1200px; margin: auto; display: flex; flex-wrap: wrap; gap: 20px; justify-content: space-between;">
    <!-- Logo Section -->
    <div style="flex: 1 1 100%; text-align: center;">
      <h2 mat-subheader class="navbar-title" style="font-size: 34px; font-weight: bold; margin-bottom: 10px; text-decoration: none;"><i class="bi bi-x-diamond-fill"></i>NatureHub</h2>

      <p>© NatureHub.in | All rights reserved</p>
    </div>

    <!-- Information Section -->
    <div style="flex: 1 1 20%; min-width: 200px;">
      <h3 style="font-size: 18px; margin-bottom: 10px;">Information</h3>
      <ul style="list-style: none; padding: 0;">
        <li><a routerLink="/" >Home</a></li>
        <li><a routerLink="aboutus" >About Us</a></li>
        <li><a routerLink="remedies" >Our Remedies</a></li>
        <li><a routerLink="healthtips" >Health Tips</a></li>
        <li><a routerLink="skincare" >Skincare</a></li>
        
      </ul>
    </div>

    <!-- Support Section -->
    <div style="flex: 1 1 20%; min-width: 200px;">
      <h3 style="font-size: 18px; margin-bottom: 10px;">Support</h3>
      <ul style="list-style: none; padding: 0;">
        <li><a routerLink="contactus">Contact Us</a></li>
        <li><a routerLink="privacy">Privacy Policy</a></li>
        <li><a routerLink="cancellation">Cancellation & Refund Policy</a></li>
      </ul>
    </div>

    <!-- Connect With Us Section -->
    <div style="flex: 1 1 20%; min-width: 200px;">
      <h3 style="font-size: 18px; margin-bottom: 10px;">Connect with us</h3>
      <p>Hyderabad, India</p>
      <p>+91 9999 55555</p>
      <div style="display: flex; gap: 10px; margin-top: 10px;">
        <a routerLink=""><i class="fa fa-envelope fa-lg" style="width: 20px;"></i></a>
        <a href="https://www.instagram.com/"><i class="bi bi-instagram fa-lg" style="width: 20px;"></i></a>
        <a routerLink="https://www.facebook.com/"><i class="bi bi-facebook fa-lg" style="width: 20px;"></i></a>
        <a routerLink="https://www.linkedin.com/"><i class="bi bi-linkedin fa-lg" style="width: 20px;"></i></a>
        <a routerLink="https://x.com/?lang=en"><i class="bi bi-twitter-x fa-lg" style="width: 20px;"></i></a>
      </div>
    </div>
  </div>
</footer>
