<div class="bookmark-container">
    <h2 class="title">Bookmarked Remedies</h2>
    <div class="row">
      <div class="text-danger text-center font-large" *ngIf="bookmarks.length === 0">
        <h2>No bookmarks yet <i class="fas fa-triangle-exclamation"></i></h2>
      </div>
      <div class="category-container">
        <div class="category" *ngFor="let card of bookmarks">
          <div class="card">
            <img [src]="card.Remediesimg" [alt]="card.RemedyName" class="remedy-img" />
            <div class="card-content">
              <h4>{{ card.RemedyName }}</h4>
              <p>{{ card.Description }}</p>
              <p><strong>Benefits:</strong> {{ card.Benefits }}</p>
              <button class="btn-remove" (click)="removeBookmark(card)">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  